{{define "Comp_Card"}}

<div class="text-4xl flex flex-col gap-2 justify-center items-center">
    <h1 class=" my-1 py-1 px-4 text-center">{{.Header}}</h1>
    <hr class="w-1/2">
</div>
<div class="justify-center items-start px-8 py-4 mx-auto flex">
    <p class="text-slate-600 text-lg"> Count Number is: <span class="font-bold text-sky-600">{{.Count}}</span> </p>
</div>

<div class="flex flex-row items-center justify-center px-4">
    <button class="my-4 py-6 px-4 bg-gray-100 rounded-lg hover:bg-gray-200 hover:underline hover:underline-offset-8"
        hx-get="/counter/{{.Count}}" hx-target="#counter-placeholder" hx-swap="innerHTML" hx-trigger="click">Increase
    </button>
</div>

{{end}}