{{define "Comp_Card"}}
<div
    class="gtid grid-rows-1 gap-4 shadow-md max-w-4xl mb-8 w-full rounded-lg bg-white p-4 mx-4 {{ if not .ShadowDisabled -}} hover:shadow-md {{- end}}">
    <div class="text-4xl justify-center items-center">
        <h1>{{.Header}}</h1>
    </div>
    <div class="justify-center items-start">
        <p> Count Number is: {{.Count}}</p>
    </div>

    <div class="flex flex-row items-center justify-center">
        <button class="my-4 py-6 px-4 bg-gray-100 rounded-lg hover:bg-gray-200 hover:underline hover:underline-offset-8"
            hx-get="/counter/{{.Count}}" hx-target="#counter-placeholder" hx-swap="innerHTML"
            hx-trigger="click">Increase
        </button>
    </div>
</div>

{{end}}