{{define "Layout" }}
<!DOCTYPE html>
<html lang="en" class="bg-gray-50 w-full h-screen">

<head>
    <!-- Just a string containing title value -->
    {{ template "Head" .PageName }}
</head>

<body class="relative">
    <div class="flex flex-row min-h-14  items-center justify-around  sticky top-0 px-6 bg-white" hx-boost="true">
        {{ template "NavBar" .Route}}
    </div>

    <div class="flex flex-col items-center my-4 gap-4 w-full">
        <p class="text-lg text-center ">
            {{ .DataMap.message }}
        </p>
        <p class="text-lg text-center ">
            {{ .DataMap.name }}
        </p>

    </div>
</body>

</html>

{{end}}